body {
    background-color: #f1c232;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

.System {
    color: #151d1f;
    margin: auto 0px;
    position: relative;
    width: auto;
    display: none;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

    .System .data {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: flex-start;
        padding: 10px 6px;
    }

    .System .simulator {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        padding: 20px 6px;
    }

    .System .data > span {
        width: 100%;
        text-align: center;
    }

        .System .data > span:first-child {
            font-size: 28px;
            font-weight: bold;
        }

    .System .data > .team {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: flex-start;
        border: dotted 1px #14133d;
    }

        .System .data > .team > span {
            width: 100%;
        }

            .System .data > .team > span:first-child {
                font-size: 20px;
                font-weight: bold;
            }

            .System .data > .team > span:not(:first-child) {
                font-size: 16px;
                font-weight: normal;
                margin-left: 5px;
            }

    .System.enabled {
        display: flex;
    }

#elevators,
.ElevatorSystem {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #36354c;
    height: 402px;
    width: 402px;
    margin: 0;
    padding: 0;
}

.elevator {
    position: absolute;
    margin: 17px 8px;
    background-color: #dedee0;
    width: 50px;
    height: 368px;
    top: 0px;
    text-align: center;
    font-size: 24pt;
    font-family: Futura;
    color: #9e9937
}

    .elevator.emergency {
        background-color: red !important;
    }

    .elevator .emegencyState {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        position: absolute;
        top: -30px;
        left: 0px;
        right: 0px;
    }

        .elevator .emegencyState input.emergency {
            width: 20px;
            height: 20px;
            color: red;
            font-weight: bold;
            font-size: 14px;
        }

            .elevator .emegencyState input.emergency.active {
                color: red;
                border: solid 1px red;
            }

.car {
    position: absolute;
    bottom: 0px;
    background-color: #4e596f;
    height: 23px;
    width: 100%;
    font-size: 12pt;
    color: #eaeae5;
    overflow: hidden;
}

    .car.bussy {
        -webkit-box-shadow: inset 0px 0px 1px 1px #54d81eed !important;
        -moz-box-shadow: inset 0px 0px 1px 1px #54d81eed !important;
        box-shadow: inset 0px 0px 1px 1px #54d81eed !important;
    }

    .car.moved {
        -webkit-box-shadow: inset 0px 0px 1px 1px rgba(222,222,62,1);
        -moz-box-shadow: inset 0px 0px 1px 1px rgba(222,222,62,1);
        box-shadow: inset 0px 0px 1px 1px rgba(222,222,62,1);
    }

.modal {
    position: fixed;
    z-index: 1200;
    right: 0px;
    left: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    top: 50% !important;
    transform: translate(0,-50%) !important;
    width: 250px;
    margin: auto 20px auto auto;
    background-color: #efe5ed;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #c1c1c1;
}

    .modal > span {
        margin: 4px auto;
        color: #24233a;
        font-size: 18px;
        font-family: sans-serif;
    }

    .modal .request-data {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        padding: 3px;
    }

        .modal .request-data .request-btn {
            margin: 1px;
            width: 50px;
            background-color: #121a3e;
            border: solid 1px #c1c1c1;
            cursor: pointer;
            padding: 3px;
        }

    .modal .request-btn.close {
        position: absolute;
        width: 22px;
        height: 22px;
        font-size: 14px;
        margin: 2px 2px 0px 0px;
        background-color: #c73b3b;
        border: solid 1px #c1c1c1;
        right: 0px;
        top: 0px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }


.panel {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: auto 20px auto auto;
    background-color: #efe5ed;
    padding: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #c1c1c1;
}

    .panel > span {
        margin: 4px auto;
        color: #24233a;
        font-size: 18px;
        font-family: sans-serif;
        display: none;
    }

    .request > .item {
        height: 23px;
    }

    .panel .request-data {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        padding: 0px;
    }

        .panel .request-data .request-btn {
            width: 30px;
            background-color: #121a3e;
            border: solid 1px #c1c1c1;
            cursor: pointer;
            margin: 0px;
            padding: 0px;
        }

    .panel .request-btn.close {
        position: absolute;
        width: 22px;
        height: 22px;
        font-size: 14px;
        margin: 2px 2px 0px 0px;
        background-color: #c73b3b;
        border: solid 1px #c1c1c1;
        right: 0px;
        top: 0px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: none;
    }

.car > div {
    position: relative;
    top: -343px;
}

    .car > div > div {
        position: relative;
        height: 23px;
    }

        .car > div > div > span {
            margin: 3px 0px;
            display: inline-block;
        }

#elevator1 {
    left: 0px;
    /*background: url(../images/bg.jpg);*/
}

#elevator2 {
    left: 67px;
    /*background: url(../images/bg.jpg);*/
}

#elevator3 {
    left: 134px;
    /*background: url(../images/bg.jpg);*/
}

#elevator4 {
    left: 201px;
    /*background: url(../images/bg.jpg);*/
}

#elevator5 {
    left: 268px;
    /*background: url(../images/bg.jpg);*/
}

#elevator6 {
    left: 335px;
    /*background: url(../images/bg.jpg);*/
}

#buttons {
    position: relative;
    left: 10px;
    height: 366px;
    width: 52px;
    padding: 18px 0px;
    background-color: #14133d;
    margin: 0;
}

.request {
    position: relative;
    height: 366px;
    width: auto;
    min-width: 70px;
    max-width: 890px;
    /*max-width: 90px;*/
    padding: 18px 10px;
    background-color: #14133d;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

    .request > .item {
        width: auto;
        /*margin: 1px auto;*/
        margin: 0px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: flex-start;
    }

.request-btn {
    width: 60px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.button-floor {
    height: 23px;
}

.button {
    border: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #26253d;
    cursor: pointer;
}

    .button:hover {
        background-color: #c73b65;
    }

    .button:active {
        background-color: #9e9937;
    }

    .button.on {
        background-color: #763051;
    }

        .button.on:hover {
            background-color: #c73b65;
        }

        .button.on:active {
            background-color: #9e9937;
        }

    .button > .up {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 7px solid #ffffff;
    }

        .button > .up:hover {
            border-bottom: 7px solid #fae60a;
        }

        .button > .up:active {
            border-bottom: 7px solid #c73b65;
        }

    .button.on > .up {
        border-bottom: 7px solid #9e9937;
    }

        .button.on > .up:hover {
            border-bottom: 7px solid #fae60a;
        }

        .button.on > .up:active {
            border-bottom: 7px solid #c73b65;
        }

    .button > .down {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid white;
    }

        .button > .down:hover {
            border-top: 7px solid #fae60a;
        }

        .button > .down:active {
            border-top: 7px solid #c73b65;
        }

    .button.on > .down {
        border-top: 7px solid #9e9937;
    }

        .button.on > .down:hover {
            border-top: 7px solid #fae60a;
        }

        .button.on > .down:active {
            border-top: 7px solid #c73b65;
        }

.asigned {
    width: 100%;
    text-align: center;
    font-weight: bold;
    min-height: 40px;
}

.timer{
    color: red;
    padding: 3px;
}