#elevators {
    position: relative;
    background-color: #36354c;
    height: 402px;
    width: 402px;
    margin: 0;
    padding: 0;
}

.elevator {
    position: absolute;
    margin: 17px 8px;
    background-color: #dedee0;
    width: 50px;
    height: 368px;
    top: 0px;
    text-align: center;
    font-size: 24pt;
    font-family: Futura;
    color: #9e9937
}

.car {
    position: absolute;
    bottom: 0px;
    background-color: #4e596f;
    height: 23px;
    width: 100%;
    font-size: 12pt;
    color: #eaeae5;
    overflow: hidden;
}

    .car > div {
        position: relative;
        top: -343px;
    }

        .car > div > div {
            position: relative;
            height: 23px;
        }

            .car > div > div > span {
                margin: 3px 0px;
                display: inline-block;
            }

#elevator1 {
    left: 0px;
}

#elevator2 {
    left: 67px;
}

#elevator3 {
    left: 134px;
}

#elevator4 {
    left: 201px;
}

#elevator5 {
    left: 268px;
}

#elevator6 {
    left: 335px;
}

#buttons {
    position: relative;
    left: 402px;
    height: 366px;
    width: 52px;
    padding: 18px 0px;
    background-color: #14133d;
    margin: 0;
}

.button-floor {
    height: 23px;
}

.button {
    border: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #26253d;
    cursor: pointer;
}

    .button:hover {
        background-color: #c73b65;
    }

    .button:active {
        background-color: #9e9937;
    }

    .button.on {
        background-color: #763051;
    }

        .button.on:hover {
            background-color: #c73b65;
        }

        .button.on:active {
            background-color: #9e9937;
        }

    .button > .up {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 7px solid #ffffff;
    }

        .button > .up:hover {
            border-bottom: 7px solid #fae60a;
        }

        .button > .up:active {
            border-bottom: 7px solid #c73b65;
        }

    .button.on > .up {
        border-bottom: 7px solid #9e9937;
    }

        .button.on > .up:hover {
            border-bottom: 7px solid #fae60a;
        }

        .button.on > .up:active {
            border-bottom: 7px solid #c73b65;
        }

    .button > .down {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid white;
    }

        .button > .down:hover {
            border-top: 7px solid #fae60a;
        }

        .button > .down:active {
            border-top: 7px solid #c73b65;
        }

    .button.on > .down {
        border-top: 7px solid #9e9937;
    }

        .button.on > .down:hover {
            border-top: 7px solid #fae60a;
        }

        .button.on > .down:active {
            border-top: 7px solid #c73b65;
        }

#button-floor-1 button.button.down {
    visibility: hidden;
}

#button-floor-16 button.button.up {
    visibility: hidden;
}
